<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {% for event in events %}
            <p>
                <img src="/{{ event.image_path }}" alt="Nothing">
                <p>
                {{ event.annotation }}
                </p>
                <p>
                    {{ event.start_date }}
                </p>
                <p>
                    {{ event.end_date }}
                </p>
                <a href="/event/{{event.id}}">
                    Подробнее
                </a>
            </p>
        {% endfor %}
    </body>
</html>