<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form name="user" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <p>
                {{ form.image.label }} {{ form.image() }}
            </p>
            {% if form.image.errors %}
                    <ul class="errors">
                        {% for error in form.image.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <p>
                {{ form.first_name.label }} {{ form.first_name() }}
            </p>
            {% if form.first_name.errors %}
                    <ul class="errors">
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <p>
                {{ form.last_name.label }} {{ form.last_name() }}
            </p>
            {% if form.last_name.errors %}
                    <ul class="errors">
                        {% for error in form.last_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <p>
                {{ form.nickname.label }} {{ form.nickname() }}
            </p>
            {% if form.nickname.errors %}
                    <ul class="errors">
                        {% for error in form.nickname.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <p>
                {{ form.description.label }} {{ form.description() }}
            </p>
            {% if form.description.errors %}
                    <ul class="errors">
                        {% for error in form.description.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <p>
                {{ form.email.label }} {{ form.email() }}
            </p>
            {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <p>
                {{ form.password.label }} {{ form.password() }}
            </p>
            {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </body>
</html>